[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "themes/Juno-ocean"]
	path = themes/Juno-ocean
	url = https://github.com/EliverLara/Juno.git
	branch = ocean
[submodule "themes/ZorinOSThemes"]
	path = themes/ZorinOSThemes
	url = https://github.com/ZorinOS/zorin-desktop-themes.git
