[submodule "general-setup-files/powerlevel10k"]
	path = general-setup-files/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "general-setup-files/themes/Juno-ocean"]
	path = general-setup-files/themes/Juno-ocean
	url = https://github.com/EliverLara/Juno.git
	branch = ocean
[submodule "general-setup-files/themes/arc-theme-maintained"]
	path = general-setup-files/themes/arc-theme-maintained
	url = https://github.com/jnsh/arc-theme
